.support-background {
  font-family: "Kaisei HarunoUmi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../assets/blank background.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.support-wrapper {
  width: 600px;
  background: linear-gradient(to bottom, #000000, #00000049, #20202054);
  border: 2px solid #462200ce;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgb(24, 26, 179);
  color: #807d7d;
  border-radius: 30px;
  padding: 30px 40px;
}

.support-app {
  text-align: center;
  padding: 60px;
}

.support-title {
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 60px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #8b6145;
  transition: background-color 0.3s ease;
  margin: 25px 20px;
}

.card:hover {
  background-color: #aa3e00;
}

.support-label {
  margin: 0;
  font-size: 17px;
  color: #fff;
}

h3 .support-home {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 11px;
}

h3 .support-home:hover {
  color: #ff7b00;
  transition: 0.3s;
}

