/* General styles for all boxes */
.dashboard-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.box {
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #4f4f4f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.box h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.box p {
    font-size: 16px;
    line-height: 1.6;
}


/* Horizontal positioning of the boxes */
.item-box, .suppliers-box, .expenses-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.item-box {
    left: 50%;
}

.suppliers-box {
    left: calc(50% - 350px);
}

.expenses-box {
    left: calc(50% + 350px);
}
